html {
  font-family: georgia;
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #fff;
}

header {
  background-color: #495562;
}

@media only screen and (min-width: 38em) {

  .banner {
    max-height: 500px;
  }

  .btn {
    float: right;
  }

}
